//use js to make avoid parsing error in cli
if (process.env.NODE_ENV !== 'production') {
  require('dotenv').config()
}

const config = {
  "development": {
    "username": "root",
    "password": null,
    "database": "database_development",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "use_env_variable": "MYSQL_URL"
  }
}

module.exports = config
