.nav-item {
  display: inline-block;
  color: #000;
  text-decoration: none;
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(171, 136, 91);
    transition: width 0.3s;
  }
  &:hover::after {
    width: 100%;
  }
}