.sidebar {
  display: none;
  .sidebar-menu {
    left: -180px;
    top: 0;
    padding-top: 80px;
    padding-left: 20px;
    width: 180px;
    box-shadow: 2px -1px 10px #d8c6a2
  }
}
@media screen and (max-width: 768px) {
  .sidebar-open {
    display: block;
    .sidebar-menu {
      left: 0;
    }
  }
}

.navbar {
  .nav-item {
      display: inline-block;
      color: #000;
      text-decoration: none;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: rgb(171, 136, 91);
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }
    .sidebar-trigger {
      display: none;
    }

    @media screen and (max-width: 768px) {
      .nav-body {
        .nav-button {
            display: none;
          }
          justify-content: center;
          .sidebar-trigger {
            display: inline-block;
            position: fixed;
            left: 30px;
            font-size: 30px;
            cursor: pointer;
          }
      }
    }

}