.home {
  .wmde-markdown {
      display: flex;
      flex-direction: column;
      background-color: inherit;
  
      .code-line {
        background-color: inherit;
  
        .token {
          background-color: inherit;
        }
      }
    }
  .mde-ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      /* 显示的行数 */
      -webkit-box-orient: vertical;

      h1 {
        border-bottom: none;
        margin-bottom: 0;
      }
    }

  .right {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: translateX(5px);
    }
  }

  .left {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: translateX(-5px);
    }
  }
}