.single-page {
  .wmde-markdown {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    .code-line {
      background-color: inherit;
      .token {
        background-color: inherit;
      }
    }
  }
  .tag {
    position: relative;
    overflow: hidden;
  }

  .tag::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d5d5d5;
    z-index: -1;
    /* Background color to transition to */
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s ease;
    border-radius: 15px;
    /* Smoothly transition the transform property */
  }

  .tag:hover {
    background-color: inherit;
    color: white;
  }

  .tag:hover::before {
    transform: scaleY(1);
  }

  .right {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: translateX(5px);
    }
  }

  .left {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: translateX(-5px);
    }
  }
}