.write {
  .wmde-markdown {
      display: flex;
      flex-direction: column;
      background-color: inherit;
  
      code {
        background-color: inherit;
  
        span {
          background-color: inherit;
        }
      }
      ol {
        li {
          list-style: decimal;
        }
      }

      ul {
        li {
          list-style: disc;
        }
      }
    }
}